<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 起動するIPアドレスやURLをここで管理 -->
  <appSettings>
    <add key="ServerUrl" value="http://192.168.3.6:8080" />
  </appSettings>

  <connectionStrings>
    <!-- SQL Server用 -->
    <add name="SqlServerConnection" 
         connectionString="Server=myServerAddress;Database=TECHS6;Trusted_Connection=True;Connection Timeout=3;" 
         providerName="System.Data.SqlClient" />
         
    <!-- PostgreSQL用 -->
    <add name="PostgresConnection" 
         connectionString="Host=localhost;Username=postgres;Password=352011;Database=DBSV;Port=5432;Search Path=COMPLEMENTARY;Timeout=3;" 
         providerName="Npgsql" />
  </connectionStrings>
</configuration>